/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
/.venv
/.ruff_cache

/doc/_apidoc/
/build
/dist
/job_output

__pycache__/

.DS_Store
/.attach_pid*
.vscode/
*_version.py
tmp.*
.deployed_resources.sh
.e2e_*.sh

# Downloaded output copies that collide with source bundle files during e2e tests
test/e2e/job_attachment_bundle/**/*(*).txt
test/e2e/job_attachment_bundle/**/*(*).xxh128
